#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define ALPHA 0
#define CODE  1
#define NAV   2
#define MISC  3

/ {

    keymap {
        compatible = "zmk,keymap";

        alpha { // Layer 0
            // -------------------------------------
            // |   Shift   |    Q    |    W    |    F    |    P    |    B    | ----- |    J    |    L    |    U    |    Y    |    +    |   Shift   |
            // |   Ctrl    |    A    |    R    |    S    |    T    |    G    | ----- |    M    |    N    |    E    |    I    |    O    |   Ctrl    |
            //             |    Z    |    X    |    C    |    D    |    V    | ----- |    K    |    H    |    ,    |    .    |    -    |  
            //                                 |    -    |    -    |  Space  | ----- |  Enter  |    -    |    -    |
            
            bindings = <
                &kp LSHIFT   &kp Q     &kp W     &kp F     &kp P     &kp B             &kp J     &kp L     &kp W     &kp Y     &kp RBKT  &kp RSHIFT
                &kp LCTRL    &kp A     &kp R     &kp S     &kp T     &kp G             &kp M     &kp N     &kp E     &kp I     &kp O     &kp RCTRL
                             &kp Z     &kp X     &kp C     &kp D     &kp V             &kp K     &kp H     &kp COMMA &kp DOT   &kp FSLH
                                                 &kp LALT  &kp T     &kp SPACE         &kp ENTER &kp N     &kp RALT 
            >;
        };

    };
};